<!DOCTYPE html>

<html>
    <h1>Sign up</h1>

    <!--<form action="/users" method="post" accept-charset="UTF8">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="username">Username</label>
        <input name="user[username]" type="text" />
        <label for="email">Email</label>
        <input name="user[email]" type="email" />
        <label for="password">Password</label>
        <input name="user[password]" type="password" />
        <input class="btn" name="commit" type="submit" value="Create My Account" />
    </form>-->

    <%= form_with(model: @user,local: true) do |f|%>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Create My Account", class:"btn" %>
    <% end %>
</html>